# Left
monitor=desc:Shenzhen KTC Technology Group PMO G241-FFK, 1920x1080@75, -1920x0, 1, transform, 0, vrr, 0, bitdepth, 10
# Middle
monitor=desc:Philips Consumer Electronics Company PHL 246E9Q 0x000036F7, 1920x1080@75, 0x0, 1, transform, 0, vrr, 0, bitdepth, 10
# Internal
monitor=desc:Sharp Corporation LQ160R1JW02, {{if isOnAC}}2560x1600@244{{else}}1920x1200@60{{end}}, 1920x0, {{if isOnAC}}1.6{{else}}1.2{{end}}, transform, 0, vrr, 0, bitdepth, 10
